<turbo-frame id="<%= dom_id(task) %>" class="block">
  <%= form_with(model: task, class:"text-lg inline-block my-3 w-72") do |form| %>
    <%= form.check_box :completed,
                      data: {
                        id: task.id,
                        action: "tasks#toggle"
                      },
                      class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %>
    <%= task.description %>
  <% end %>

  <%= link_to "Edit", edit_task_path(task), class: "btn bg-gray-100" %>

  <div class="inline-block ml-2">
    <%= button_to "Delete", task_path(task),
                  method: :delete,
                  data: { "turbo-frame": "_top" },
                  class: "btn bg-red-100" %>
  </div>
</turbo-frame>
