<% if notice.present?  %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>

<h1 class="font-bold text-2xl">Task Manager</h1>

<div class="mt-4">
  <%= render "form", task: @task %>
</div>

<div id="tasks">
  <h1 class="font-bold text-lg mb-7">Tasks</h1>

  <div class="px-5" data-controller="tasks">
    <%= render @tasks %>
  </div>
</div>

<%= form_for(@task, url: tasks_path) do |f| %>
  <div class='form-group'>
    <%= f.select :id, Task.all.collect { |tsk| [tsk.description, tsk.id] }, {}, { value: @task.id, class: 'form-control', onchange: 'this.form.submit();' } %>
  </div>
<% end %>
