<section class="mx-auto mt-28 w-96 p-5 border rounded">
  <div class="text-center font-bold text-gray-700" id="habit-name">
    <%= @habit.name %>
  </div>

  <div class="mt-3 flex justify-center items-center space-x-5">
    <%= button_to "-", decrement_habit_path(@habit), class: "btn bg-red-300 inline-block shadow-lg" %>
    <div class="text-4xl font-bold"><%= @habit.count %></div>
    <%= button_to "+", increment_habit_path(@habit), class: "btn bg-green-300 inline-block shadow-lg" %>
  </div>

  <div class="mt-3 p-2 flex justify-center space-x-1">
    <% @habit.count.times do %>
      <div class="inline-block border p-1 bg-green-400"></div>
    <% end %>
  </div>
</section>
